
.todos-bg-container {
    background-color: #ffffe6;
    /* background-color: white; */
    height: 100%;
    background-size: cover;
    /* height : 100vh */
    ;
    color: #330000;

}

.small-head {
    color: #FFDAB9;
}

.black-bg {
    background-color: #040f13;
    height: 100%;
    /* color: white; */

}

.white-text {
    color: #FA8072;
}

.todos-heading {
    text-align: center;
    font-family: "Roboto";
    font-size: 46px;
    font-weight: 500;
    margin-top: 14px;
    margin-bottom: 20px;
}

.create-task-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
}

.create-task-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
}

.todo-items-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
}

.todo-items-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
}

.todo-items-container {
    margin: 0px;
    padding: 0px;
}

.todo-item-container {
    margin-top: 15px;
}

.todo-user-input {
    background-color: white;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    /* margin-top: 10px; */
    padding: 15px;
}

.add-todo-button {
    color: white;
    background-color: #fb5f51;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0px;
    border-radius: 24px;
    margin-top: 20px;
    margin-bottom: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.label-container {
    background-color: #FFDAB9;
    width: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: #FA8072;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
}

/* 
.label-dark-container {
    background-color: #432b21;
    width: 100%;
    color: #eacc90;
    border-style: solid;
    border-width: 5px;
    border-color: #FA8072;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
} */

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
}

.checkbox-label {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 82%;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.delete-icon-container {
    text-align: right;
    width: 18%;
}


.delete-icon {
    padding: 15px;
}

.checked {
    text-decoration: line-through;
}